@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
.nav-content {
  padding-left: 150px;
  padding-right: 50px;
  padding-bottom: 100px;
}

nav {
  width: 100%;
  padding: 0px 130px;
  margin-top: 20px;
  padding-left: 150px;
  background-color: transparent !important;
}

nav .container-fluid {
  border-bottom: 1px solid rgba(255, 255, 255, 0.144) !important;
}

.navbar-brand {
  font-size: 30px;
  font-family: "Baloo Bhai", cursive;
}


/* Navigation Bar: List Styling */
.hero-h {
  padding-left: 0px !important;
  padding-top: 40px !important;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.nav:hover{
  background-color: #2b3c57;
  color: #d6e1e6;
  border-radius: 1.5rem;
}

/* Home Section */
#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: unset;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

#home::before {
  content: "";
  position: absolute;
  background: url(pexels-photo-1229861.jpeg) no-repeat center center/cover;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

#home h1 {
  color: white;
  text-align: left;
  font-family: "Bree Serif", serif;
  font-size: 49px;
}

#home p {
  color: white;
  text-align: left;
  font-size: 20px;
  width: 70%;
  font-family: "Bree Serif", serif;
}

@media (max-width: 652px) {
  .nav-content {
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  nav {
    width: 100%;
    padding: 0px 40px;
    margin-top: 20px;
    background-color: transparent !important;
  }
}
@media (max-width: 490px) {
  #home h1 {
    font-size: 40px;
  }

  .navbar-brand {
    font-size: 25px;
  }

  #home p {
    width: 100%;
    font-size: 18px;
  }

  .nav-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  nav {
    width: 100%;
    padding: 0px 20px;
    margin-top: 20px;
    background-color: transparent !important;
  }
}
/* About Section*/

.about-sec {
  padding: 50px;
  position: relative;
  /* background-image: url(/about.jpeg),linear-gradient(black,black); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

@media (max-width: 496px) {
  .about-sec {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bree Serif", serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-sec h1 {
  width: 100%;
  font-family: "Bree Serif", serif;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.about-left img {
  width: 250px;
  border-radius: 50%;
  border: 2px solid gray;
}

.into {
  text-align: justify;
  width: 40rem;
  display: inline-block;
}


/* projects section  */
#item {
  padding: 100px;
}

@media (max-width: 344px) {
  #item {
    padding: 20px;
  }
}
@media (max-width: 544px) {
  #item {
    padding: 5px;
  }
}
#Project-section h1 {
  background-color: #d6e1e6;
  color: #2b3c57;
  text-align: center;
}

.div2 {
  height: 30rem;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 30px;
}

.div2:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.div2 h2 {
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 19px;
  padding-top: 5px;
  width: 100%;
  text-align: left;
}

.div2 img {
  width: 100% !important;
}

.div2 p {
  font-size: 15px;
  width: 100% !important;
  font-family: "Bree Serif", serif;
  text-align: left;
}

.div2 a {
  text-decoration: none;
  color: #aa363c;
}

/* Contact Section */
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url("hands-coffee-smartphone-technology.jpg") no-repeat center center/cover;
}

#contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}

@media (max-width: 1024px) {
  #contact-box form {
    width: 70% !important;
  }

  .cont-h {
    font-size: 40px !important;
  }
}
@media (max-width: 472px) {
  #contact-box form {
    width: 90% !important;
  }

  .cont-h {
    font-size: 40px !important;
  }

  .sumb-btn {
    width: 90%;
  }
}
footer {
  background: black;
  color: white;
  padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 3.8rem;
  padding: 24px;
}

.btn {
  font-family: "Bree Serif", serif;
  padding: 8px 30px;
  border: 1px solid white;
  background-color: transparent;
  color: #060303;
  margin: 24px 0px;
  font-size: 1.05rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.btn a {
  text-decoration: none;
  color: honeydew;
}

.btn:hover {
  background-color: white;
  color: black;
}

.center {
  text-align: center;
}


/* FOOTER SECTION  */
footer {
  font-family: "Bree Serif", serif;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

/* about css */
.about-img {
  width: 200px;
}

.my-pro {
  font-size: 34px;
  margin-top: 50px;
  padding: 20px;
}

.btn-link {
  width: 100%;
  background-color: #d6e1e6;
  color: #2b3c57;
  border: 0;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-link:hover {
  width: 100%;
  background-color: #2482fc;
  color: white;
}/*# sourceMappingURL=style.css.map */